html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.hamburger {
  border: 0;
  background-color: transparent;
  color: rgb(232, 232, 232);
}


@media only screen and ( min-width : 550px ) {
  .hamburger {
    display: none;
  }
  nav {
    display: flex;
    height: 82px;
    padding: 20px 36px;
    box-shadow: 0 2.98256px 7.4564px rgb(151, 150, 150);
    background-color: #154281;
    align-items: center;
    justify-content: space-between;
    img {
      max-width: 200px;
    }
    li {
      display: flex;
      list-style: none;
      color: rgb(22, 20, 20);
      padding: 5px;
      height: 100%;
    }
  }
  .central-triggers {
    display: flex;
  }
  .right-triggers {
    display: flex;
  }
}

.websy-btn {
  border-radius: 5px;
  background-color: transparent;
}

.cart {
  color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-left: 5px;
}

.add-cart {
  width: 120px;
  background-color: rgb(57, 144, 57);
  color: rgb(255, 248, 248);
  padding: 10px;
  border-radius: 10px;
}

.hero-image {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 83%, rgb(1, 169, 203) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


h3 {
  font-weight: 100;
}

.websy-btn.btn-primary {
  &.active {
    background-color: #154281;
  }
}

p {
  padding: 15px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  font-size: 1rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px;
  box-shadow: 5px 10px 20px rgb(146, 144, 144);
  border-radius: 20px;
  padding: 40px;
  &:hover {
    background-color: rgb(232, 232, 232);
  }
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  background-color: transparent;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--title {
  padding: 5px;
}

.card--star {
  height: 15px;
  padding: 15px;
}

.card--price {
  margin-top: auto;
}

.dark-mode {
  background-color: #02012e;
  color: rgb(232, 232, 232);
  .card {
    &:hover {
      background-color: #154281;
    }
  }
  .apple-logo {
    background-color: rgb(255, 255, 255);
  }
  .samsung-logo {
    background-color: rgb(255, 255, 255);
  }
  #dropdown-2 {
    border: 1px solid rgb(255, 252, 252);
    margin: 5px;
  }
  #dropdown-3 {
    border: 1px solid rgb(255, 251, 251);
    margin: 5px;
  }
}

.apple-logo {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 10px;
}

.samsung-logo {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#dropdown-2 {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin: 5px;
}

#dropdown-3 {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin: 5px;
}

.phone-detail-card {
  display: flex;
  justify-content: center;
  margin: 20px;
  .card {
    width: 900px;
    font-size: 1rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px;
    box-shadow: 5px 10px 20px rgb(146, 144, 144);
    border-radius: 20px;
    padding: 40px;
  }
}

.top-picks {
  text-align: center;
}
