<div class="websy-view" data-view="contact">

  <h2 style="text-align:center">How can we help you?</h2>

<h3 style="text-align:center">FAQ's</h3>

<div class="faqs">
<button type="button" class="collapsible">Returns and exchanges</button>
<div class="content">
  <p>Something not quite right? Let's see how we can help...</p>
</div>

<button type="button" class="collapsible">Device advice</button>
<div class="content">
  <p>Want to get to know your device better? We've got useful tips, step-by-step videos, plus technical specs and essential documents.</p>
</div>

<button type="button" class="collapsible">Keep your number</button>
<div class="content">
  <p>If you're changing network, you need to contact your current service provider and ask them for a PAC (Porting Authorisation Code).</p>
</div>

<button type="button" class="collapsible">Where is my nearest store?</button>
<div class="content">
  <p>Use our handy store locator to find the nearest option <a class="websy-trigger" data-view="stores"><u>here</u></a></p>
</div>

<button type="button" class="collapsible">I want to change my tariff</button>
<div class="content">
  <p>Want to amend the minutes, texts and data in your monthly allowance, or wondering how upgrading to a different tariff works? This page can has the answers.</p>
</div>
</div>

</div>