<div class="websy-view" data-view="home">

  <div class="hero-image">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Zimrane/Feb22/FPF_Feb22/PC_stripe_1.jpg" width="900px">
    <div class="hero-text">
    </div>
  </div>

<div class="jumbotron jumbotron-fluid">
  <h1 style="text-align: center">Sale now on...</h1>
  <h3 style="text-align: center">Mobile phone shop, tariffs, information, online technology & much more!</h3>
</div>

  <p style="text-align: center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ratione et possimus dolor quaerat, culpa quos aperiam
    quo pariatur excepturi nam in facilis tenetur quisquam nostrum. 
    Doloribus iure maiores aperiam quaerat?</p>
  
    <p style="text-align: center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aperiam similique praesentium doloremque dolores doloribus deserunt mollitia dolorum?
       Sed explicabo expedita voluptatibus officia officiis asperiores
        maiores ad architecto nobis reiciendis.</p>

<div class="filters">
     <div id="dropdown-2"style="width: 200px; position: relative;">

      </div>

      <div id="dropdown-3"style="width: 200px; position: relative;">

      </div>

  </div>
  <div id="all-phones" class="cards-list">
          
         
  </div>

  <p style="text-align: center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus cumque officiis, repudiandae ullam dignissimos numquam nemo eaque ipsum quod magnam soluta facilis neque. Ullam, cupiditate placeat dicta quo aspernatur quisquam!</p>
     <p style="text-align: center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex amet reiciendis non repellendus voluptatum quidem cupiditate, deleniti at aspernatur reprehenderit, nobis corporis odio quod, fugit eum numquam laudantium esse aliquid!</p>   
</div>



