<div class="websy-view" data-view="home">

  <div class="hero-image">
    <img src="https://images.macrumors.com/t/rWuYVpdenGYSlgRtVb937WlK0ns=/1600x1200/smart/article-new/2020/01/Carrier-Deals.jpg" width="650px" height="400px">
    <div class="hero-text">
    </div>
  </div>

<div class="jumbotron jumbotron-fluid">
  <h1>Sale now on...</h1>
  <h3>Mobile phone shop, tariffs, information, online technology & much more!</h3>
</div>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ratione et possimus dolor quaerat, culpa quos aperiam
    quo pariatur excepturi nam in facilis tenetur quisquam nostrum. 
    Doloribus iure maiores aperiam quaerat?</p>
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aperiam similique praesentium doloremque dolores doloribus deserunt mollitia dolorum?
       Sed explicabo expedita voluptatibus officia officiis asperiores
        maiores ad architecto nobis reiciendis.</p>


  <div id="all-phones" class="cards-list">
          
         
  </div>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus cumque officiis, repudiandae ullam dignissimos numquam nemo eaque ipsum quod magnam soluta facilis neque. Ullam, cupiditate placeat dicta quo aspernatur quisquam!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex amet reiciendis non repellendus voluptatum quidem cupiditate, deleniti at aspernatur reprehenderit, nobis corporis odio quod, fugit eum numquam laudantium esse aliquid!</p>   
</div>



