<div class="websy-view" data-view="stores">
  
    <div class="store-map">
          <h3 style="text-align: center">Find your nearest store</h3>
  
          
    <div id="map" style="width: 400px; height: 300px;">
        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ211bnJvOTAiLCJhIjoiY2wzdnF2Zm5tMHUydTNrbnA1ZWRpaWdjdCJ9.DRqgJWIIYejdOXaD5S1DtQ';
        new mapboxgl.Map({
        container: 'map', 
        style: 'mapbox://styles/mapbox/streets-v11', 
        center: [2.2, 41.400], 
        zoom: 10
        });
        </script>
</div>

<p style="text-align:center">Visit your nearest shop and one of our experts will be on hand to help you make the best choice for you and your new phone</p>

<ul>
  <li><span>Barcelona</span> | Ronda Sant Antoni </li>
  <li><span>Barcelona</span> | Travessera de Gracia </li>
  <li> <span>Mataró</span> | Bruc </li>
  <li><span>Vilanova I La Geltru</span> | Rambla Principal </li>
  <li><span>Sant Boi de Llobregat</span> | Las Salinas </li>
  <li><span>Cabrera de Mar</span> | Carrefour Cabrera de Mar </li>
</ul>
  </div>